<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt_ms.dao.R3_crmc21dMapper" >
  <resultMap id="BaseResultMap" type="com.tt_ms.domain.R3_crmc21d" >
    <id column="csxdm" property="csxdm" jdbcType="CHAR" />
    <id column="csqdm" property="csqdm" jdbcType="CHAR" />
    <result column="csxmc" property="csxmc" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    csxdm, csqdm, csxmc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.tt_ms.domain.R3_crmc21dKey" >
    select 
    <include refid="Base_Column_List" />
    from R3_crmc21d
    where csxdm = #{csxdm,jdbcType=CHAR}
      and csqdm = #{csqdm,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.tt_ms.domain.R3_crmc21dKey" >
    delete from R3_crmc21d
    where csxdm = #{csxdm,jdbcType=CHAR}
      and csqdm = #{csqdm,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.tt_ms.domain.R3_crmc21d" >
    insert into R3_crmc21d (csxdm, csqdm, csxmc)
    values (#{csxdm,jdbcType=CHAR}, #{csqdm,jdbcType=CHAR}, #{csxmc,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tt_ms.domain.R3_crmc21d" >
    insert into R3_crmc21d
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="csxdm != null" >
        csxdm,
      </if>
      <if test="csqdm != null" >
        csqdm,
      </if>
      <if test="csxmc != null" >
        csxmc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="csxdm != null" >
        #{csxdm,jdbcType=CHAR},
      </if>
      <if test="csqdm != null" >
        #{csqdm,jdbcType=CHAR},
      </if>
      <if test="csxmc != null" >
        #{csxmc,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tt_ms.domain.R3_crmc21d" >
    update R3_crmc21d
    <set >
      <if test="csxmc != null" >
        csxmc = #{csxmc,jdbcType=CHAR},
      </if>
    </set>
    where csxdm = #{csxdm,jdbcType=CHAR}
      and csqdm = #{csqdm,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tt_ms.domain.R3_crmc21d" >
    update R3_crmc21d
    set csxmc = #{csxmc,jdbcType=CHAR}
    where csxdm = #{csxdm,jdbcType=CHAR}
      and csqdm = #{csqdm,jdbcType=CHAR}
  </update>
</mapper>