<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt_ms.dao.R3_crmc05Mapper" >
  <resultMap id="BaseResultMap" type="com.tt_ms.domain.R3_crmc05" >
    <id column="ckhjb" property="ckhjb" jdbcType="CHAR" />
    <result column="ckhjbms" property="ckhjbms" jdbcType="VARCHAR" />
    <result column="ngsyhl" property="ngsyhl" jdbcType="DECIMAL" />
    <result column="nclyhl" property="nclyhl" jdbcType="DECIMAL" />
    <result column="ltybs" property="ltybs" jdbcType="BIT" />
    <result column="dtyrq" property="dtyrq" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ckhjb, ckhjbms, ngsyhl, nclyhl, ltybs, dtyrq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from R3_crmc05
    where ckhjb = #{ckhjb,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from R3_crmc05
    where ckhjb = #{ckhjb,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.tt_ms.domain.R3_crmc05" >
    insert into R3_crmc05 (ckhjb, ckhjbms, ngsyhl, 
      nclyhl, ltybs, dtyrq)
    values (#{ckhjb,jdbcType=CHAR}, #{ckhjbms,jdbcType=VARCHAR}, #{ngsyhl,jdbcType=DECIMAL}, 
      #{nclyhl,jdbcType=DECIMAL}, #{ltybs,jdbcType=BIT}, #{dtyrq,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tt_ms.domain.R3_crmc05" >
    insert into R3_crmc05
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ckhjb != null" >
        ckhjb,
      </if>
      <if test="ckhjbms != null" >
        ckhjbms,
      </if>
      <if test="ngsyhl != null" >
        ngsyhl,
      </if>
      <if test="nclyhl != null" >
        nclyhl,
      </if>
      <if test="ltybs != null" >
        ltybs,
      </if>
      <if test="dtyrq != null" >
        dtyrq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ckhjb != null" >
        #{ckhjb,jdbcType=CHAR},
      </if>
      <if test="ckhjbms != null" >
        #{ckhjbms,jdbcType=VARCHAR},
      </if>
      <if test="ngsyhl != null" >
        #{ngsyhl,jdbcType=DECIMAL},
      </if>
      <if test="nclyhl != null" >
        #{nclyhl,jdbcType=DECIMAL},
      </if>
      <if test="ltybs != null" >
        #{ltybs,jdbcType=BIT},
      </if>
      <if test="dtyrq != null" >
        #{dtyrq,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tt_ms.domain.R3_crmc05" >
    update R3_crmc05
    <set >
      <if test="ckhjbms != null" >
        ckhjbms = #{ckhjbms,jdbcType=VARCHAR},
      </if>
      <if test="ngsyhl != null" >
        ngsyhl = #{ngsyhl,jdbcType=DECIMAL},
      </if>
      <if test="nclyhl != null" >
        nclyhl = #{nclyhl,jdbcType=DECIMAL},
      </if>
      <if test="ltybs != null" >
        ltybs = #{ltybs,jdbcType=BIT},
      </if>
      <if test="dtyrq != null" >
        dtyrq = #{dtyrq,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ckhjb = #{ckhjb,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tt_ms.domain.R3_crmc05" >
    update R3_crmc05
    set ckhjbms = #{ckhjbms,jdbcType=VARCHAR},
      ngsyhl = #{ngsyhl,jdbcType=DECIMAL},
      nclyhl = #{nclyhl,jdbcType=DECIMAL},
      ltybs = #{ltybs,jdbcType=BIT},
      dtyrq = #{dtyrq,jdbcType=TIMESTAMP}
    where ckhjb = #{ckhjb,jdbcType=CHAR}
  </update>
</mapper>