<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tt_ms.dao.R3_salc03Mapper" >
  <resultMap id="BaseResultMap" type="com.tt_ms.domain.R3_salc03" >
    <id column="chtxmdm" property="chtxmdm" jdbcType="CHAR" />
    <result column="chtxmsm" property="chtxmsm" jdbcType="VARCHAR" />
    <result column="chtxmkm" property="chtxmkm" jdbcType="CHAR" />
    <result column="ltybs" property="ltybs" jdbcType="BIT" />
    <result column="dtyrq" property="dtyrq" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    chtxmdm, chtxmsm, chtxmkm, ltybs, dtyrq
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from R3_salc03
    where chtxmdm = #{chtxmdm,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from R3_salc03
    where chtxmdm = #{chtxmdm,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.tt_ms.domain.R3_salc03" >
    insert into R3_salc03 (chtxmdm, chtxmsm, chtxmkm, 
      ltybs, dtyrq)
    values (#{chtxmdm,jdbcType=CHAR}, #{chtxmsm,jdbcType=VARCHAR}, #{chtxmkm,jdbcType=CHAR}, 
      #{ltybs,jdbcType=BIT}, #{dtyrq,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tt_ms.domain.R3_salc03" >
    insert into R3_salc03
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chtxmdm != null" >
        chtxmdm,
      </if>
      <if test="chtxmsm != null" >
        chtxmsm,
      </if>
      <if test="chtxmkm != null" >
        chtxmkm,
      </if>
      <if test="ltybs != null" >
        ltybs,
      </if>
      <if test="dtyrq != null" >
        dtyrq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chtxmdm != null" >
        #{chtxmdm,jdbcType=CHAR},
      </if>
      <if test="chtxmsm != null" >
        #{chtxmsm,jdbcType=VARCHAR},
      </if>
      <if test="chtxmkm != null" >
        #{chtxmkm,jdbcType=CHAR},
      </if>
      <if test="ltybs != null" >
        #{ltybs,jdbcType=BIT},
      </if>
      <if test="dtyrq != null" >
        #{dtyrq,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tt_ms.domain.R3_salc03" >
    update R3_salc03
    <set >
      <if test="chtxmsm != null" >
        chtxmsm = #{chtxmsm,jdbcType=VARCHAR},
      </if>
      <if test="chtxmkm != null" >
        chtxmkm = #{chtxmkm,jdbcType=CHAR},
      </if>
      <if test="ltybs != null" >
        ltybs = #{ltybs,jdbcType=BIT},
      </if>
      <if test="dtyrq != null" >
        dtyrq = #{dtyrq,jdbcType=TIMESTAMP},
      </if>
    </set>
    where chtxmdm = #{chtxmdm,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tt_ms.domain.R3_salc03" >
    update R3_salc03
    set chtxmsm = #{chtxmsm,jdbcType=VARCHAR},
      chtxmkm = #{chtxmkm,jdbcType=CHAR},
      ltybs = #{ltybs,jdbcType=BIT},
      dtyrq = #{dtyrq,jdbcType=TIMESTAMP}
    where chtxmdm = #{chtxmdm,jdbcType=CHAR}
  </update>
</mapper>